body {
  background-color: #e0f7f7;
  color: #003e3e;
  font-family: Arial, sans-serif;
}

header, main, footer {
  max-width: 1024px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e4f3f3;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 166, 166, 0.1);
}

nav a {
  text-decoration: none;
  font-size: 16px;
  color: #003e3e;
  padding: 10px;
  display: inline-block;
}
nav li {
  margin: 5px;
}
nav li:hover {
  background-color: #c0f0f0;
  border-radius: 5px;
}

.una-exp, .una-expQA {
  background-color: #d6f4f4;
  padding: 15px;
  border-radius: 12px;
  border-left: 5px solid #00a6a6;
  box-shadow: 0 2px 5px rgba(0, 166, 166, 0.1);
}


.una-exp:hover, .una-expQA:hover {
  transform: scale(1.01);
}
.una-expQA {
  width: 80%;
  margin: 0 auto;
}

.fecha {
  font-style: italic;
  color: #007d7d;
}

.tecnologias {
  font-weight: normal;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tecnologias li {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #00a6a6;
  background-color: #f0fefe;
  color: #003e3e;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 8px;
}

/* Tabs */
.tab {
  overflow: hidden;
  background-color: #00a6a6;
  border-radius: 10px 10px 0 0;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #007d7d;
}
.tab button.active {
  background-color: #003e3e;
}
.tabcontent {
  display: none;
  padding: 10px 15px;
  border: 1px solid #00a6a6;
  border-top: none;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 166, 166, 0.05);
}
footer li {
  display: inline-block;
  padding: 10px;
}
